<%- include("partials/header"); -%>

<div>
    <h1>Check out these wishlists</h1>
    <ul>
        <% wishlists.forEach(function(wishlist) { %>
            <i><li class="username"><%= wishlist.username %></li></i><p> - <%= wishlist.wish1 %></p>
        <% }); %>
    </ul>
</div>

<script>
    const redirect = document.querySelector('.username')
    redirect.addEventListener('click', e => {
        e.preventDefault()
        location.assign(`/${redirect.innerText}`)
})
</script>

<%- include("partials/footer"); -%>