<%- include("partials/header"); -%>

<div class="wish-list">
    <h1>Check out these wishlists</h1>
    <br>
        <% wishlists.forEach(function(wishlist) { %>
            <div class="wish-content">
                <h2 class="username"><%= wishlist.wishlist.username %></h2><p class="wish"> - <%= wishlist.wishlist.wish1 %></p>
            </div>
        <% }); %>
</div>
<br>

<script>
    const redirectIndex = document.querySelectorAll('.username');
    redirectIndex.forEach(redirectIndex => {
        redirectIndex.addEventListener('click', e => {
            e.preventDefault();
            location.assign(`/${redirectIndex.innerText}`);
        });
    });
</script>

<%- include("partials/footer"); -%>