<%- include("partials/header"); -%>

<div class="center">
    <h2>How to update a wish:</h2> 
    <img src="/img/update-wish.png">
    <p class="manual-text">To update a wish, first navigate to your home page. You do that by clicking on the "Welcome back, (user) in the top left.</p>
    <p class="manual-text">After having navigated to your page, when you see your wish, right under it there is a field where you input text. Replace the wish placeholder and update your wish with another.</p>
</div>

<%- include("partials/footer"); -%>