<%- include("partials/header"); -%>

<div class="wish-list">
    <% wishlist.forEach(function(wishlist) { %>
        <div class="wish-content">
            <h2 class="username"><%= wishlist.username %></h2><p class="wish"> - <%= wishlist.wish1 %></p>
        </div>
    <% }); %>
</div>

<%- include("partials/footer"); -%>