<%- include("partials/header"); -%>

<div>
    <% wishlist.forEach(function(wishlist) { %>
        <p><li class="username"><%= wishlist.username %></li> - <%= wishlist.wish1 %></p>
    <% }); %>
</div>

<%- include("partials/footer"); -%>